[Desktop Entry]
Version=1.0
Name=Chromium
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/chromium %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=NewWindow;Incognito;

[Desktop Action NewWindow]
Name=New Window
Exec=/usr/bin/chromium --new-window
TargetEnvironment=Unity

[Desktop Action Incognito]
Name=New Incognito Window
Exec=/usr/bin/chromium --incognito
TargetEnvironment=Unity
