/*

!.gitignore
!.gitconfig
!.Xresources
!.xinitrc

!scripts/

!.config/
.config/*
!.config/compton.conf
!.config/i3
!.config/fish
!.config/conky
!.config/dunst
!.config/fontconfig
!.config/rofi
!.config/kitty

!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.doomguy.png
!.doomguy-smile.png
!.scripts

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts
.local/share/fonts/*
!.local/share/fonts/*.ttf
!.local/share/fonts/*.otf
