/*

!.bashrc
!.bash_git-prompt
!.bash_npm
!.bash_profile

!.gitignore
!.gitconfig
!.inputrc
!.Xauthority
!.Xdefaults
!.xinitrc

!.Renviron
!.Rprofile

!.config/
.config/*
!.config/compton.conf
!.config/i3
!.config/i3blocks
!.config/conky
!.config/dunst
!.config/fontconfig

!.doomguy.png
!.scripts

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/fonts
.local/share/fonts/*
!.local/share/fonts/*.ttf
!.local/share/fonts/*.otf
