[user]
	name = Andrei Dumitrescu
	username = andreidmt
	email = 5057797+andreidmt@users.noreply.github.com
[core]
	editor = nvim -c "startinsert"
[pull]
	rebase = true
[status]
	submoduleSummary = true
[push]
	recurseSubmodules = check
[merge "ours"]
	driver = true
[init]
	defaultBranch = main
