[core]
  editor = nvim -c "startinsert" # use nvim when editing commit messages
  pager = delta
[init]
	defaultBranch = main
[user]
	name = Andrei Dumitrescu
	username = andreidmt
	email = 5057797+andreidmt@users.noreply.github.com
[pull]
	rebase = true # pull first and apply local commits on top
[status]
	submoduleSummary = true
[push]
	recurseSubmodules = check
[merge]
  conflictstyle = diff3
[merge "ours"]
	driver = true
[interactive]
  diffFilter = delta --color-only
[delta]
  theme = gruvbox-dark
  navigate = false 
  side-by-side = false
  line-numbers = true
[diff]
  colorMoved = default
